/* место для вашего кода */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;

}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 92px 50px 96px;
}
.header__links-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: circle;
    text-underline-offset: 4px;
    margin: 10px 44px 11px 1px;
}
.header__links-list li:first-child {
    list-style-type: none;
}
.text_decoration {
    text-decoration: none;
}
.header__logo {
    width: 136px;
    height: 104px;
}

.header__address {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 4px 192px;
    width: 240px;
    height: auto;
    text-underline-offset: 4px;
    gap: 5px;
    font-style: normal;
}
.address_link {
    line-height: 23px;
    font-style: normal;
    transform: none;
}
.cover {
    position: relative;
    padding: 165px 20px 14px 50px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    
    
}
.overlay {
    position: absolute;
    background-color: black;
    inset: 0;
    opacity: 0.6;
}
.cover_tittle {
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    z-index: 1;
}
.aligned-text_left {
    text-align: left;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: end;
}
.letter-spacing-extended {
    letter-spacing: 0.3em;
}
.cover_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 22px;
    text-transform: uppercase;
    margin: 107px 0px 36px 2px;
    padding-right: 30px;
    gap: 107px;
}
.cover__description-text {
    word-spacing: 18px;
    font-size: 22px;
    line-height: 28px;
}
.bet-button {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    width: 256px;
    height: 51px;
    text-align: center;
    border: 1px solid white;
}
.lots {
    padding: 180px 24px 120px;
}
.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 14px 0px 41px 40px;
}
.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}
.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style-type: none;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
}
.card_link {
    height: 100%;
    text-decoration: none;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    
}
.card__title {
    text-decoration: underline;
    z-index: 1;
    position: relative;
    color: white;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    margin: 48px 40px 0px;
    text-underline-offset: 3px;
}
.card__text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    margin: 0px 40px 48px;
}
.more {
    text-underline-offset: 5px;
}
.more__text {
    font-size: 20px;
    margin: 33px 0px 0px 40px;
}
.about {
    padding: 0px 24px 180px 24px;
}
.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin-top: 38px;
}
.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    justify-self: center;
}
.about__logo-image {
    width: 148px;
    height: 114px;

}
.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 115px 0px 80px 24px;
}
.about__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 24px;
    gap: 24px;
    margin: 114px 4px 0px 25px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__address {
    display: flex;
    flex-direction: column;
    margin: 4px 0px 0px 50px;
    width: 264px;
    height: auto;
    text-underline-offset: 4px;
    gap: 5px;
    font-style: normal;
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: circle;
    text-underline-offset: 4px;
    margin: 2px 24px 0px 0px;
    gap: 3px;
}
.footer__menu-list-item {
    list-style-type: none;
}
.footer__social-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 240px;
    margin: 1px 50px 0px 0px;
}
.footer__social-list-item {
    list-style-type: none;
}
.footer__social-icon {
    height: 48px;
    width: 48px;
}